---
---
$primary: #1D3851;
// Import Main CSS file from theme
@import "main";



.hero.is-primary .title{
    color: white;
}
.hero.is-primary .subtitle{
    color: white;
}

.hero.is-light{
        background-color: #1D3851;
    }
