---
---
$primary: #b3e8ff;
// Import Main CSS file from theme
@import "main";


.hero.is-primary .title {
    color: #44515a;
}
.hero.is-primary .subtitle {
    color: #44515a;
}

.hero.is-light{
        background-color: #b3e8ff;
    } 